{
    "serviceType": "API",
    "name": "unknown",
    "description": "Implementation of unknown Open API",
    "state": "{{ state }}",
    "serviceCharacteristic": [
      {
        "name": "componentName",
        "valueType": "string",
        "value": "{{ componentName }}",
        "@type": "StringCharacteristic"
      },
      {
        "name": "dependencyName",
        "valueType": "string",
        "value": "{{ dependencyName }}",
        "@type": "StringCharacteristic"
      },
      {
        "name": "url",
        "valueType": "string",
        "value": "{{ url }}",
        "@type": "StringCharacteristic"
      },
      {
        "name": "OASSpecification",
        "valueType": "string",
        "value": "{{ specification }}",
        "@type": "StringCharacteristic"
      }
      {% if dependencyKind %},
      {
        "name": "dependencyKind",
        "valueType": "string",
        "value": "{{ dependencyKind }}",
        "@type": "StringCharacteristic"
      }
      {% endif %}
      {% if accessType %},
      {
        "name": "accessType",
        "valueType": "string",
        "value": "{{ accessType }}",
        "@type": "StringCharacteristic"
      }
      {% endif %}
      {% if dataProductId %},
      {
        "name": "dataProductId",
        "valueType": "string",
        "value": "{{ dataProductId }}",
        "@type": "StringCharacteristic"
      }
      {% endif %}
      {% if dataProductType %},
      {
        "name": "dataProductType",
        "valueType": "string",
        "value": "{{ dataProductType }}",
        "@type": "StringCharacteristic"
      }
      {% endif %}
      {% if provider %},
      {
        "name": "provider",
        "valueType": "string",
        "value": "{{ provider }}",
        "@type": "StringCharacteristic"
      }
      {% endif %}
    ],
    "serviceSpecification": {
      "id": "1",
      "name": "API",
      "version": "1.0.0",
      "@type": "ServiceSpecification",
      "specCharacteristic": [
        {
          "name": "componentName",
          "valueType": "string",
          "description": "The name of the component which wants to consume the API service. The component name is normally available in the environment vaiable COMPONENT_NAME",
          "@type": "StringCharacteristic"
        },
        {
          "name": "dependencyName",
          "valueType": "string",
          "description": "The dependency name that this API service matches. The dependency name is set in the Component Specification",
          "@type": "StringCharacteristic"
        },
        {
          "name": "url",
          "valueType": "string",
          "description": "The url the the API root endpoint",
          "@type": "StringCharacteristic"
        },
        {
          "name": "OASSpecification",
          "valueType": "string",
          "description": "The url to the Open API Specification for this API",
          "@type": "StringCharacteristic"
        }
        {% if dependencyKind %},
        {
          "name": "dependencyKind",
          "valueType": "string",
          "description": "The dependency classification, for example data-resource.",
          "@type": "StringCharacteristic"
        }
        {% endif %}
        {% if accessType %},
        {
          "name": "accessType",
          "valueType": "string",
          "description": "The access mechanism exposed by the dependency, for example sql, vector-search, genie, functions, openapi, or mcp.",
          "@type": "StringCharacteristic"
        }
        {% endif %}
        {% if provider %},
        {
          "name": "provider",
          "valueType": "string",
          "description": "The platform provider exposing the dependency, for example databricks.",
          "@type": "StringCharacteristic"
        }
        {% endif %}
      ]
    },
    "@type": "Service",
    "@schemaLocation": "http://info.cavas.svc.cluster.local/openapi#/components.schemas.Service",
    "@baseType": "Service"
}
