apiVersion: v2
name: canvas-oda
description: A Helm of helm to orchestrate the ODA installation

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)

version: 1.2.1-rc2
# version: 1.2.1-rc2 - Resolved chart name to values mapping for kong and apisix charts observed in 1.2.0 release
# version: 1.2.1-rc1 - Templatized hardcoded images
# version: 1.2.0     - initial release of v1 component specification
# version: 1.1.8     - released version
# version: 1.1.8-lt6 - final changes to v1beta4 crd
# version: 1.1.8-lt5 - updated istio,kong and apisix charts , added value validation schema , added canvas uninstall security to avoid uninstall in presence of components
# version: 1.1.8-lt4 - Refactored and separated identity config operator from component operator
# version: 1.1.8-ak1 - changed seccon to canvassystem, changed keycloak realm to odari , enabled tls for keycloak API endpoints
# version: 1.1.8-rc6 - issue 320 - SecretsManagemnt-Operator and DependentAPI-Simple-Operator support Canvas Log Viewer format 
# version: 1.1.8-lt3 - refactoring of component-operator and api-operator-istio
# version: 1.1.8-rc4 - issue 372 - deploy non-DEV Vault with persistence and autounseal 
# version: 1.1.8-lt1 - added componentMetadata and apiSDO to v1beta4 crds
# version: 1.1.8-rc2 - make hostname and cert configurable for component gateway
# version: 1.1.8-rc1 - fix linux/arm64 docker build for secretsmanagement-operator
# version: 1.1.7     - updated to v1beta4 crds
# version: 1.1.6     - updated kong and apisix installation to change istio-ingress behaviour , ssl enabled on istio-ingress for api-gateway, updated component crds,added test to check latest chart once helm charts are published on github
# version: 1.1.6-rc2 - follow up Issue #289: fill canvas info service from DependentAPI operator
#                      Issue #338: support Unit tests in Docker build template
# version: 1.1.6-rc1 - Issue #289: add canvas info service
# version: 1.1.5     - released 9.9.2024
# version: 1.1.5-rc6 - Issue #302: remove "-dapi-" infix from dependentapi custom resource name
# version: 1.1.5-rc5 - ODAA-98: automte docker builds
# version: 1.1.5-lt1 - Updated conversion webhook
# version: 1.1.5-rc4 - update component operator/istio operator/dependentapi operator with exposedapis and changing v1beta3 crds of these with camelcase apiType
# version: 1.1.5-rc3 - ODAA-114: fix exception in DependentAPI-Operator
# version: 1.1.5-rc2 - added dependentApiSimpleOperator functionality to fetch the defined dependent API ENDPOINT from apis custom resouce
# version: 1.1.5-rc1 - ODAA-86: downgrade HashiCorp Vault to 1.14.8. Last version under MPLv2, 
#                  see https://www.hashicorp.com/license-faq#products-covered-by-bsl
# version: 1.1.4 - added secretsmanagement-operator
# version: 1.1.3 - updated dependentApiSimpleOperator to tmforum docker repo
# version: 1.1.2 - added dependentApiSimpleOperator
# version: 1.1.1 - bug fix for empty specification property of exposedAPI
# version: 1.1.0 - updated component CRD to support an array for the specification field in the exposed API (to support Gen5 APIs)
# version: 1.0.0 - baseline version

# This is the version number of the application being deployed. We are versioning the canvas as the
# version of the latest component spec that it supports.
appVersion: "v1"

dependencies:
  - name: cert-manager-init
    version: "1.1.1"
    repository: 'file://../cert-manager-init'
  - name: canvas-namespaces
    version: "1.0.1"
    repository: 'file://../canvas-namespaces'
    condition: canvas-namespaces.enabled
  - name: oda-crds
    version: "1.3.0"
    repository: 'file://../oda-crds'
    condition: oda-crds.enabled
  - name: keycloak
    version: "13.0.2"
    repository: 'https://charts.bitnami.com/bitnami'
    condition: keycloak.enabled
  - name: component-operator
    version: "1.3.0"
    repository: 'file://../component-operator'
  - name: identityconfig-operator-keycloak
    version: "1.2.0"
    repository: 'file://../identityconfig-operator-keycloak'  
  - name: api-operator-istio
    version: "1.1.1"
    repository: 'file://../api-operator-istio'
    condition: api-operator-istio.enabled
  - name: dependentapi-simple-operator
    version: "1.0.1"
    repository: 'file://../dependentapi-simple-operator'
    condition: dependentapi-simple-operator.enabled
  - name: secretsmanagement-operator
    version: "1.0.1"
    repository: 'file://../secretsmanagement-operator'
  - name: canvas-vault
    version: "1.0.1"
    repository: 'file://../canvas-vault'
    condition: canvas-vault.enabled
  - name: oda-webhook
    version: "1.2.0"
    repository: 'file://../oda-webhook'
  - name: api-operator-kong
    version: "1.0.2"
    repository: 'file://../kong-gateway'
    condition: kong-gateway-install.enabled
  - name: api-operator-apisix
    version: "1.0.2"
    repository: 'file://../apisix-gateway'
    condition: apisix-gateway-install.enabled