*.tgz
cabundle.pem.b64
.hypothesis/
.DS_Store
.vscode
.env
keycloak-credentials.js
canvas-portal/portal-core/target/
canvas-portal/portal-helm/target/
canvas-portal/portal-service/target/
/canvas-portal/portal-web/package-lock.json
