*.tgz
cabundle.pem.b64
.hypothesis/
.DS_Store
.vscode
.env
.settings/
.project
.pydevproject
.pydevproject.bak
keycloak-credentials.js
canvas-portal/portal-core/target/
canvas-portal/portal-helm/target/
canvas-portal/portal-service/target/
canvas-portal/portal-web/package-lock.json
canvas-portal/portal-service/src/main/resources/static/
/ignore/
.claude/settings.local.json
source/tmf-services/TMF639_Resource_Inventory/nul
source/tmf-services/TMF639_Resource_Inventory/.claude/settings.local.json
