compcrdwebhook:
  displayName: Component-CRD-Webhook
  fileName: compcrdwebhook
  
  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .webhooks.image
  valuesPathVersion: .webhooks.version
  valuesPathPrereleaseSuffix: .webhooks.prereleaseSuffix
  
  paths:
    - source/webhooks/webhook-dockerfile
    - source/webhooks/implementation/**/*
  buildContext: source/webhooks
  # default is "Dockerfile" in buildContext
  buildDockerfile: source/webhooks/webhook-dockerfile  
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

  
component-istio-controller:
  displayName: Component-Istio-Controller
  fileName: component-istio-controller
  
  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .controller.deployment.compconImage
  valuesPathVersion: .controller.deployment.compconVersion
  valuesPathPrereleaseSuffix: .controller.deployment.compconPrereleaseSuffix
  
  paths:
    - source/operators/component-IstioController-dockerfile
    - source/operators/componentOperator/**/*
    - source/operators/apiOperatorIstio/**/*
    - source/operators/securityController/**/*
  buildContext: source/operators
  # default is "Dockerfile" in buildContext
  buildDockerfile: source/operators/component-IstioController-dockerfile
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64


dependentapi-simple-operator:
  displayName: DependentAPI-Simple-Operator
  fileName: dependentapi-simple-operator
  
  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .dependentapi-simple-operator.image
  valuesPathVersion: .dependentapi-simple-operator.version
  valuesPathPrereleaseSuffix: .dependentapi-simple-operator.prereleaseSuffix
  
  paths:
    - source/operators/dependentApiSimpleOperator/docker/**/*
  buildContext: source/operators/dependentApiSimpleOperator/docker
  # default is "Dockerfile" in buildContext
  #buildDockerfile: 
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

  
secretsmanagement-operator:  
  displayName: SecretsManagement-Operator
  fileName: secretsmanagement-operator

  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .secretsmanagement-operator.image
  valuesPathVersion: .secretsmanagement-operator.version
  valuesPathPrereleaseSuffix: .secretsmanagement-operator.prereleaseSuffix

  paths:
  - source/operators/secretsmanagementOperator-hc/docker/**/*
  buildContext: source/operators/secretsmanagementOperator-hc/docker
  # default is "Dockerfile" in buildContext
  #buildDockerfile:
  # default is "linux/amd64,linux/arm64"
  platforms: linux/amd64 # linux/arm64 has problems building cffi python wheel

  
secretsmanagement-sidecar:
  displayName: SecretsManagement-Sidecar
  fileName: secretsmanagement-sidecar

  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .secretsmanagement-operator.sidecarImage
  valuesPathVersion: .secretsmanagement-operator.sidecarVersion
  valuesPathPrereleaseSuffix: .secretsmanagement-operator.sidecarPrereleaseSuffix

  paths:
  - source/operators/secretsmanagementOperator-hc/sidecar/docker/**/*
  buildContext: source/operators/secretsmanagementOperator-hc/sidecar/docker
  # default is "Dockerfile" in buildContext
  #buildDockerfile:
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64
  

security-listener:
  displayName: Security-Listener
  fileName: security-listener

  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .controller.deployment.secconImage
  valuesPathVersion: .controller.deployment.secconVersion
  valuesPathPrereleaseSuffix: .controller.deployment.secconPrereleaseSuffix

  paths:
    - source/operators/securityControllerAPIserver-keycloak-dockerfile
    - source/operators/securityController/**/*
    - source/operators/securityListener-keycloak/**/*
  buildContext: source/operators
  # default is "Dockerfile" in buildContext
  buildDockerfile: source/operators/securityControllerAPIserver-keycloak-dockerfile
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

