compcrdwebhook :
  displayName: Component-CRD-Webhook
  fileName: compcrdwebhook 
  
  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .oda-webhook.image
  valuesPathVersion: .oda-webhook.version
  valuesPathPrereleaseSuffix: .oda-webhook.prereleaseSuffix
  
  paths:
    - source/webhooks/webhook-dockerfile
    - source/webhooks/implementation/*
  buildContext: source/webhooks
  # default is "Dockerfile" in buildContext
  buildDockerfile: source/webhooks/webhook-dockerfile  
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

  
component-operator:
  displayName: Component-operator
  fileName: component-operator
  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .component-operator.deployment.compopImage
  valuesPathVersion: .component-operator.deployment.compopVersion
  valuesPathPrereleaseSuffix: .component-operator.deployment.compopPrereleaseSuffix
  paths:
    - source/operators/component-management/*
  buildContext: source/operators/component-management
  # default is "Dockerfile" in buildContext
  buildDockerfile: source/operators/component-management/component-operator-dockerfile
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

identityconfig-operator-keycloak:
  displayName: Identityconfig-operator-keycloak
  fileName: identityconfig-operator-keycloak
  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .identityconfig-operator-keycloak.deployment.idkopImage
  valuesPathVersion: .identityconfig-operator-keycloak.deployment.idkopVersion
  valuesPathPrereleaseSuffix: .identityconfig-operator-keycloak.deployment.idkopPrereleaseSuffix
  paths:
    - source/operators/identity-config/keycloak/*
  buildContext: source/operators/identity-config/keycloak
  # default is "Dockerfile" in buildContext
  buildDockerfile: source/operators/identity-config/keycloak/identityconfig-operator-keycloak-dockerfile
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

identity-listener-keycloak:
  displayName: identity-Listener-keycloak
  fileName: identity-listener-keycloak

  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .identityconfig-operator-keycloak.deployment.idlistkeyImage
  valuesPathVersion: .identityconfig-operator-keycloak.deployment.idlistkeyVersion
  valuesPathPrereleaseSuffix: .identityconfig-operator-keycloak.deployment.idlistkeyPrereleaseSuffix

  paths:
    - source/operators/identity-config/keycloak/identity-listener-keycloak/*
    - source/operators/identity-config/keycloak/keycloakUtils.py
  buildContext: source/operators/identity-config/keycloak
  # default is "Dockerfile" in buildContext
  buildDockerfile: source/operators/identity-config/keycloak/identity-listener-keycloak-dockerfile
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

api-operator-istio:
  displayName: API-operator-istio
  fileName: api-operator-istio
  
  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .api-operator-istio.deployment.apiopImage
  valuesPathVersion: .api-operator-istio.deployment.apiopVersion
  valuesPathPrereleaseSuffix: .api-operator-istio.deployment.apiopPrereleaseSuffix
  
  paths:
    - source/operators/api-management/istio/*
  buildContext: source/operators/api-management/istio
  # default is "Dockerfile" in buildContext
  buildDockerfile: source/operators/api-management/istio/api-operator-istio-dockerfile
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64


dependentapi-simple-operator:
  displayName: DependentAPI-Simple-Operator
  fileName: dependentapi-simple-operator
  
  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .dependentapi-simple-operator.image
  valuesPathVersion: .dependentapi-simple-operator.version
  valuesPathPrereleaseSuffix: .dependentapi-simple-operator.prereleaseSuffix
  
  paths:
    - source/operators/dependentApiSimpleOperator/docker/**/*
  buildContext: source/operators/dependentApiSimpleOperator/docker
  # default is "Dockerfile" in buildContext
  #buildDockerfile: 
  testDockerfile: source/operators/dependentApiSimpleOperator/docker/DockerfileTest
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

tmf638-service-inventory-api:
  displayName: TMF-638 Service Inventory API
  fileName: tmf638-service-inventory-api
  
  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .canvas-info-service.image
  valuesPathVersion: .canvas-info-service.version
  valuesPathPrereleaseSuffix: .canvas-info-service.prereleaseSuffix
  
  paths:
    - source/tmf-services/TMF638_Service_Inventory/**/*
  buildContext: source/tmf-services/TMF638_Service_Inventory
  # default is "Dockerfile" in buildContext
  #buildDockerfile: 
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

  
secretsmanagement-operator-vault :  
  displayName: SecretsManagement-Operator-Vault
  fileName: secretsmanagement-operator-vault

  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .secretsmanagement-operator.image
  valuesPathVersion: .secretsmanagement-operator.version
  valuesPathPrereleaseSuffix: .secretsmanagement-operator.prereleaseSuffix

  paths:
  - source/operators/secretsmanagementOperator-hc/docker/**/*
  buildContext: source/operators/secretsmanagementOperator-hc/docker
  # default is "Dockerfile" in buildContext
  #buildDockerfile:
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

  
secretsmanagement-sidecar:
  displayName: SecretsManagement-Sidecar
  fileName: secretsmanagement-sidecar

  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .secretsmanagement-operator.sidecarImage
  valuesPathVersion: .secretsmanagement-operator.sidecarVersion
  valuesPathPrereleaseSuffix: .secretsmanagement-operator.sidecarPrereleaseSuffix

  paths:
  - source/operators/secretsmanagementOperator-hc/sidecar/docker/**/*
  buildContext: source/operators/secretsmanagementOperator-hc/sidecar/docker
  # default is "Dockerfile" in buildContext
  #buildDockerfile:
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64
  

baseimage-kubectl-curl:
  displayName: Baseimage-Kubectl-cURL
  fileName: baseimage-kubectl-curl
  
  valuesYamlFile: baseimages/kubectl-curl/version.yaml
  valuesPathImage: .image
  valuesPathVersion: .version
  valuesPathPrereleaseSuffix: .prereleaseSuffix
  
  paths:
    - baseimages/kubectl-curl/**/*
  buildContext: baseimages/kubectl-curl
  # default is "Dockerfile" in buildContext
  #buildDockerfile:   
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

api-operator-apisix:
  displayName: API-operator-apisix
  fileName: api-operator-apisix
  
  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .api-operator-apisix.apisixoperatorimage.apisixopImage
  valuesPathVersion: .api-operator-apisix.apisixoperatorimage.apisixopVersion
  valuesPathPrereleaseSuffix: .api-operator-apisix.apisixoperatorimage.apisixopPrereleaseSuffix
  
  paths:
    - source/operators/api-management/apache-apisix/*
  buildContext: source/operators/api-management/apache-apisix
  # default is "Dockerfile" in buildContext
  buildDockerfile: source/operators/api-management/apache-apisix/apache-apisix-dockerfile
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

api-operator-kong:
  displayName: API-operator-kong
  fileName: api-operator-kong
  
  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .api-operator-kong.kongoperatorimage.kongopImage
  valuesPathVersion: .api-operator-kong.kongoperatorimage.kongopVersion
  valuesPathPrereleaseSuffix: .api-operator-kong.kongoperatorimage.kongopPrereleaseSuffix
  
  paths:
    - source/operators/api-management/kong/*
  buildContext: source/operators/api-management/kong
  # default is "Dockerfile" in buildContext
  buildDockerfile: source/operators/api-management/kong/kong-dockerfile
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64


credentialsmanagement-operator:
  displayName: Credentialsmanagement-operator
  fileName: credentialsmanagement-operator
  valuesYamlFile: charts/credentialsmanagement-operator/values.yaml
  valuesPathImage: .deployment.credopImage
  valuesPathVersion: .deployment.credopVersion
  valuesPathPrereleaseSuffix: .deployment.credopPrereleaseSuffix
  paths:
    - source/operators/credentials-management/*
  buildContext: source/operators/credentials-management
  # default is "Dockerfile" in buildContext
  buildDockerfile: source/operators/credentials-management/credentialsmanagement-operator-dockerfile
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

oauth2envoyfilter-operator:
  displayName: OAuth2-EnvoyFilter-Operator
  fileName: oauth2envoyfilter-operator
  
  valuesYamlFile: charts/experimental/oauth2-envoyfilter-operator/values.yaml
  valuesPathImage: .image
  valuesPathVersion: .version
  valuesPathPrereleaseSuffix: .prereleaseSuffix
  
  paths:
    - source/operators/oauth2EnvoyfilterOperator/docker/**/*
  buildContext: source/operators/oauth2EnvoyfilterOperator/docker
  # default is "Dockerfile" in buildContext
  #buildDockerfile: Dockerfile
  #testDockerfile: source/operators/oauth2EnvoyfilterOperator/docker/DockerfileTest
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

pdb-management-operator:
  displayName: PDB-Management-Operator
  fileName: pdb-management-operator
  
  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .pdb-management-operator.deployment.image
  valuesPathVersion: .pdb-management-operator.deployment.version
  valuesPathPrereleaseSuffix: .pdb-management-operator.deployment.prereleaseSuffix
  
  paths:
    - source/operators/pdb-management/*
  buildContext: source/operators/pdb-management
  # default is "Dockerfile" in buildContext
  #buildDockerfile: Dockerfile
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

tmf639-resource-inventory-api:
  displayName: TMF-639 Resource Inventory API
  fileName: tmf639-resource-inventory-api
  
  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .resource-inventory.image
  valuesPathVersion: .resource-inventory.version
  valuesPathPrereleaseSuffix: .resource-inventory.prereleaseSuffix
  
  paths:
    - source/tmf-services/TMF639_Resource_Inventory/**/*
  buildContext: source/tmf-services/TMF639_Resource_Inventory
  # default is "Dockerfile" in buildContext
  #buildDockerfile: 
  # default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64

component-registry:
  displayName: Component-Registry
  fileName: component-registry
  
  valuesYamlFile: charts/canvas-oda/values.yaml
  valuesPathImage: .component-registry.image
  valuesPathVersion: .component-registry.version
  valuesPathPrereleaseSuffix: .component-registry.prereleaseSuffix
  
  paths:
    - source/services/ComponentRegistry/component-registry-service/**/*
  buildContext: source/services/ComponentRegistry/component-registry-service
  # default is "Dockerfile" in buildContext
  ## buildDockerfile: 
  #testDockerfile: source/operators/dependentApiSimpleOperator/docker/DockerfileTest
  ## default is "linux/amd64,linux/arm64"
  #platforms: linux/amd64,linux/arm64
