apiVersion: apps/v1
kind: Deployment
metadata:
  name: component-operator
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "component-operator.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{.Values.deployment.operatorName}}
  template:
    metadata:
      namespace: {{ .Release.Namespace }}
      labels:
        app: {{.Values.deployment.operatorName}}
        {{- include "component-operator.labels" . | nindent 8 }}
    spec:
      serviceAccountName: odacomponent-account
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
      {{- include "image-pull-secrets" . |nindent 6 }}
      {{- end }}
      containers:
      - name: {{.Values.deployment.operatorName}}
        image: {{ include "component-operator.compopDockerimage" . }}
        imagePullPolicy: {{ include "component-operator.compopImagePullPolicy" . }}
        envFrom:
          - configMapRef:
              name: component-operator-configmap
        command: 
          - "/bin/sh"
        args: 
          - "-c"
          - "kopf run $COMPONENT_NAMESPACES_CLI --verbose /componentOperator/componentOperator.py"
