# This is a new CustomResourceDefinition for ExposedAPIs that replaces the existing API CRD.
apiVersion: "apiextensions.k8s.io/v1"
kind: "CustomResourceDefinition"
metadata:
  name: "exposedapis.oda.tmforum.org"
spec:
  group: "oda.tmforum.org"
  scope: "Namespaced"
  names:
    plural: "exposedapis"
    singular: "exposedapi"
    kind: "ExposedAPI"
  versions:
  - name: "v1beta3"
    # Each version can be enabled/disabled by Served flag.
    served: true
    # One and only one version must be marked as the storage version.
    storage: true
    deprecated: false
    schema:
      openAPIV3Schema:
        type: object
        required: ["spec"]
        properties:
          spec:
            type: object
            x-kubernetes-preserve-unknown-fields: true
            properties:
              name:
                type: string
                description: Name of the API
              specification:
                type: array
                items:
                  type: string
                description: >
                  url to the specification of the API, if required. e.g. url to the swagger file for Open API.
                  This is an array of strings to allow for multiple specifications (e.g. to support Gen-4 and Gen-5 Open-APIs)
                minItems: 1
              apitype:
                type: string
                enum:
                - openapi
                - prometheus
                description: The type of API specification. Currently only OpenAPI (swagger) and Prometheus (metrics) APIs are supported.
              ratelimit:
                type: integer
                description: (optional) The rate limit for the API
              policytemplate:
                type: string
                description: (optional) The name of the policy template to use for the API
              implementation:
                type: string
                description: The name of the service where the implementation of the API is found
              path:
                type: string
                description: The path to the root of the API
              developerUI:
                type: string
                description: (optional) The path to the developer User Interface for the API
              port:
                type: integer
                description: The port where the API is exposed
              resources:
                type: array
                items:
                  type: object
                description: (optional) Resources is an optional list of resources that are exposed by the API.
              required:
                type: boolean
                description: Required is a flag that indicates whether the API is required or not.
            required:
            - name
            - apitype
            - implementation
            - path
            - port            
          status:
            type: object
            x-kubernetes-preserve-unknown-fields: true
    additionalPrinterColumns:
    - name: API_endpoint
      type: string
      description: API endpoint Url
      jsonPath: .status.apiStatus.url
    - name: Implementation_ready
      type: string
      description: API implementation is ready - has passed startup probe checks
      jsonPath: .status.implementation.ready
