gateway:
  type: LoadBalancer  # Override the service type

etcd:
  enabled: true
  #block for etcd to correct new repo to be used to overwrite bitnami repo.
  image:
    repository: bitnamilegacy/etcd

ingress-controller:
  config:
    apisix:
      adminAPIVersion: v3
  serviceNamespace: ingress-apisix
  enabled: true   # Explicitly enable the ingress controller

apisixoperatorreplicaCount: 1
apisixistiooperatordeploymentnamespace: canvas
apisixoperatorimage:
  apisixopImage: tmforumodacanvas/api-operator-apisix
  apisixopVersion: 1.0.2
  apisixopPrereleaseSuffix:
  pullPolicy: IfNotPresent
initContainerImage: busybox:1.28

deployment:
  monitoredNamespaces: 'components,odacompns-*'     
  ingressClass:
    enabled: false
    name: nginx
  dataDog:
    enabled: true
configmap:
  loglevel: '20'
  # publicHostname: 'components.example.com'
  componentGateway: 'canvas/component-gateway'
  API_CONNECT_TIMEOUT: 60   #value in seconds supported
  API_READ_TIMEOUT: 900     #value in seconds supported
  API_WRITE_TIMEOUT: 900    #value in seconds supported
