.vscode/
__pycache__/
*.pyc
controllers/securityController/__pycache__/
controllers/securityController/__pycache__/securityControllerAPIserver-keycloak.cpython-37.pyc
controllers/securityController/__pycache__/securityController-keycloak.cpython-38.pyc
