apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-apisixistio-operator
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.apisixoperatorreplicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-apisixistio-operator
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-apisixistio-operator
    spec:
      serviceAccountName: apisixapioperator-account
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
      {{- include "image-pull-secrets" . |nindent 6 }}
      {{- end }}
      initContainers:
        - name: wait-apisix-admin
          image: {{ include "docker.registry" .}}{{ .Values.initContainerImage }}
          command:
            - sh
            - -c
            - |
              until nc -z canvas-apisix-admin.canvas.svc.cluster.local 9180; do echo waiting for canvas-apisix-admin; sleep 2; done;
      containers:
      - name: {{ .Release.Name }}-apisixistio-operator
        image: {{ include "api-operator-apisix.apisixopDockerimage" . }}
        imagePullPolicy: {{ include "api-operator-apisix.apisixopImagePullPolicy" . }}
        envFrom:
          - configMapRef:
              name: api-operator-istio-configmap
        command:
          - "/bin/sh"
        args: 
          - "-c"
          - |
            kopf run --namespace= --verbose apiOperatorApisix.py apiOperatorIstiowithApisix.py & \
            kopf run $COMPONENT_NAMESPACES_CLI --verbose apiOperatorApisix.py apiOperatorIstiowithApisix.py; wait
