apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Release.Name }}-vault-hc-post-install-hook"
  namespace: {{ include "canvasvault.namespace" . }}
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "5"
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  template:
    metadata:
      name: "{{ .Release.Name }}-vault-hc-post-install-hook"
      labels:
        app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
        app.kubernetes.io/instance: {{ .Release.Name | quote }}
        helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    spec:
      restartPolicy: Never
      containers:
      - name: post-install-job
        image: "mtr.devops.telekom.de/magenta_canvas/public:alpine-helm"
        imagePullPolicy: Always
        command: ["/bin/bash"]
        args: ["-c", "echo starting canvas vault post install hook;
           date;
           set -xev;
           NAMESPACE={{ include "canvasvault.namespace" . }};
           VAULTPOD={{ .Release.Name }}-vault-hc-0;
           AUTH_PATH={{ .Values.auth_path }};
           JWT=$(cat /var/run/secrets/kubernetes.io/serviceaccount/token);
           JWT_PL=$(echo $JWT | cut -d '.' -f2);
           ISSUER=$(echo $JWT_PL==== | base64 -d 2>/dev/null | jq -r '.aud[0]');
           echo configuring authenticator \"$AUTH_PATH\" for issuer \"$ISSUER\";
           date;
           echo waiting up to 120 seconds for the vault to be ready;
           kubectl -n $NAMESPACE wait -l  statefulset.kubernetes.io/pod-name=$VAULTPOD --for=condition=ready pod --timeout=120s;
           echo ready;
           date;
           echo getting issuer;
           if [ -z \"$ISSUER\" ];then
             JSON=$(kubectl exec -n $NAMESPACE -i $VAULTPOD -- sh -c 'wget -O- --no-check-certificate https://$KUBERNETES_SERVICE_HOST:$KUBERNETES_SERVICE_PORT_HTTPS/.well-known/openid-configuration 2>/dev/null');
             echo ----- response -----;
             echo $JSON;
             echo ----- -------- -----;
             ISSUER=$(echo $JSON | sed -e 's/.*\"issuer\":\"\\([^\"]\\+\\).*/\\1/');
           fi;
           echo ISSUER=$ISSUER;
           if [ -z \"$CACERT\" ]; then
             if curl $ISSUER/.well-known/openid-configuration >/dev/null 2>&1; then
               echo no CACERT needed;
             else
               CACERT=/run/secrets/kubernetes.io/serviceaccount/ca.crt;
               if curl $ISSUER/.well-known/openid-configuration --cacert $CACERT >/dev/null 2>&1;then
                 echo CACERT=$CACERT;
               else
                 echo could not curl $ISSUER/.well-known/openid-configuration --cacert $CACERT; 
                 ls -la $CACERT;
                 curl -v $ISSUER/.well-known/openid-configuration --cacert $CACERT;
                 exit 60;
               fi;
             fi;
           fi;
           X=$(kubectl exec -n $NAMESPACE -i $VAULTPOD -- vault auth list | grep \"$AUTH_PATH\" || true);
           echo X=$X;
           if [ -z \"$X\" ]; then
             echo enable $AUTH_PATH in vault;
             kubectl exec -n $NAMESPACE -i $VAULTPOD -- vault auth enable -path \"$AUTH_PATH\" jwt;
           else
             echo auth method $AUTH_PATH already enabled;
           fi;
           echo vault write oidc_discovery_url;
           if [ -z \"$CACERT\" ]; then
             kubectl exec -n $NAMESPACE -i $VAULTPOD -- vault write auth/$AUTH_PATH/config oidc_discovery_url=$ISSUER;
           else
             kubectl exec -n $NAMESPACE -i $VAULTPOD -- vault write auth/$AUTH_PATH/config oidc_discovery_url=$ISSUER oidc_discovery_ca_pem=@$CACERT;
           fi;
           echo --- FINISHED ---"]
        volumeMounts:
        - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
          name: kube-api-access-pih
          readOnly: true
      serviceAccountName: {{ .Release.Name }}-vault-hc-pih-sa
      volumes:
      - name: kube-api-access-pih
        projected:
          defaultMode: 420
          sources:
          - serviceAccountToken:
              expirationSeconds: 600
              path: token
          - configMap:
              items:
              - key: ca.crt
                path: ca.crt
              name: kube-root-ca.crt