apiVersion: networking.istio.io/v1
kind: ServiceEntry
metadata:
  name: add-https
spec:
  hosts:
  {-% for host_name in host_name_list %}
  - "{{ host_name }}"
  {-% endfor %}
  ports:
  - number: 80
    name: http-port
    protocol: HTTP
    targetPort: 443
  - number: 443
    name: https-port
    protocol: HTTPS
  resolution: DNS
