apiVersion: v2
name: identityconfig-operator-keycloak
description: A helm chart to deploy the identityconfig operator for keycloak

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)

version: 1.2.3
# version: 1.2.3 - support multiple component namespaces: remove namespaced role, fix KOPF command
# version: 1.2.2 - updated listener docker image to remove vulnerabilities
# version: 1.2.1 - Added startup handler with api server watcher timeout
# version: 1.2.0 - updated to use v1 of CRD spec
# version: 1.1.0 - changed controllerRole to canvasSystemRole
# version: 1.0.0 - initial version - identityconfig separated out from component operator

# This is the version number of the application being deployed. We are versioning the canvas as the
# version of the latest component spec that it supports.
appVersion: "v1"
