image: tmforumodacanvas/dependentapi-simple-operator
version: 0.2.3
prereleaseSuffix:
imagePullPolicy: IfNotPresent
loglevel: '20'

serviceInventoryAPI:
  enabled: true
  image: tmforumodacanvas/tmf638-service-inventory-api
  version: 0.1.1
  prereleaseSuffix:
  imagePullPolicy: IfNotPresent
  serverUrl: http://info.canvas.svc.cluster.local/tmf-api/serviceInventoryManagement/v5
  mongodb:
    port: 27017
    database: svcinv 
