image: tmforumodacanvas/dependentapi-simple-operator
version: 1.0.1
prereleaseSuffix:
imagePullPolicy: IfNotPresent
loglevel: '20'
componentRegistryUrl: http://canvas-compreg.canvas.svc.cluster.local

oauth2TokenSecret: dependentapi-operator-oidc-secret
