deployment:
  controllerName: oda-controller
  compconImage: ravijangra92/canvas
  compconVersion: 0.5.5
  compconPrereleaseSuffix:
  compconImagePullPolicy: IfNotPresent
  istioGateway: true
  secconImage: tmforumodacanvas/security-listener
  secconVersion: 0.7.1
  secconPrereleaseSuffix:
  secconImagePullPolicy: IfNotPresent
  monitoredNamespaces: 'components'           # comma separated list of namespaces
  ingressClass:
    enabled: false
    name: nginx
  dataDog:
    enabled: false
  keycloak:
    port: 8080
#We reuse the admin user created on keycloak instalation
credentials:
  user: admin
  pass: adpass
configmap:
  #kcbase: http://canvas-keycloak:8088/auth # trying to parameterise this in the configmap
  kcrealm: myrealm
  loglevel: '20'
