<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="30 seconds">

    <property name="ROOT_LEVEL" value="INFO"/>

    <property name="CANVAS_PORTAL_LOG_FILE" value="${HOME}/log/canvas-portal.log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %-5level %logger{35} -%kvp- %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${CANVAS_PORTAL_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${CANVAS_PORTAL_LOG_FILE}.%d{yyyy-MM-dd}-%i.gz</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>15</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>[%thread] %-5level %logger{35} -%kvp- %msg%n</pattern>
        </encoder>

    </appender>

    <root level="${ROOT_LEVEL}">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>